.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mat-sys-surface);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}




